.form-title {
    text-align: center;
}

.input-form {
    width: 50%;
    margin: 0 auto;
}

.input-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
}